@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $violet;
  background: $green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test {
  width: 100%;
  text-align: center;
}

#canvas {
  padding: 1rem;
}